<nav>
  <div class="container">
    <a href="/" class="logo">{{ site.title }}</a>
    <ul>
      <li><a href="/" {% if page.url == "/" %}class="active"{% endif %}>Home</a></li>
      <li><a href="/research/" {% if page.url == "/research/" %}class="active"{% endif %}>Research</a></li>
      <li><a href="/blog/" {% if page.url == "/blog/" %}class="active"{% endif %}>Blog</a></li>
      <li><a href="/gallery/" {% if page.url == "/gallery/" %}class="active"{% endif %}>Gallery</a></li>
      <li><a href="/miscellaneous/" {% if page.url == "/miscellaneous/" %}class="active"{% endif %}>Miscellaneous</a></li>
    </ul>
  </div>
</nav>